
@media (min-width: 600px) {
    ul.right {
    
     display:none;
    }  
}
html,body
{
    font-family: 'Roboto';
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

$blue-button:rgb(13, 145, 253);

span.badge
{
    padding: 5px;
    margin-right: 10px;
    border-radius: 100%;
    width:10px;
    height:10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    background: white;
    color:$blue-button;
}
$color-primary:rgb(241, 240, 240);
$blue-light-button:rgba(13, 145, 253, 0.719);
i.fa.fa-search
{
color:white;
}
body{
    background-image:url(/img/form.jpg);
    background-size: cover;
    min-width: 100vw;
    overflow-x: hidden;
    // overflow: hidden;
    // background: $color-primary;
    display: flex;
    flex-direction: column;
}

.logo,.profile_pic
{
    background-image: url('http://localhost/socialhub/img/form.jpg');
    background-size: cover;
    width:40px;
    height: 40px;
    border-radius: 100px;
}
header
{

    box-shadow: 0px 0px 6px rgba(107, 105, 105, 0.452);
    position: sticky;
    z-index: 99;

    // right: 0;
//   margin-bottom: 300px;
    top:0;
    left:0px;
display: flex;
justify-content: space-between;
align-items: center;
    width:100vw;
    height:10vh;
    background: rgb(0, 162, 255);
    ul
    {
        &.right
        {
            // margin-left: 500px;
            li
            {
                transition: all 0.2s linear;
            &:hover{
                background: rgba(255, 255, 255, 0.274);
            }
            &:nth-child(1)
            {

            }
padding: 10px 10px;


&:last-child
{
    margin-right:30px;
}
//    
        }
        }
       
        // display: flex;
        // align-items: center;
     


        // list-style: none;
         &.left{
            //  background-color: red;
        li
        {


            &.search
            {
                position: absolute;
                justify-content: center;
                align-items: center;
                margin-left: 60px;
display: flex;

input[type="text"]
{
padding: 6px 15px;
// width:450px;
outline: none;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
border: 0px;





}
            
// width:20px;
            }
            a
            {
                text-decoration: none;
                color:white;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                &>*
                {
                    margin-left:5px;
                }
                cursor: pointer;
        
            }
        }
    }
    }
}
